.container {
  padding: 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.title {
  margin-bottom: 16px;
}

.layout {
  max-width: 960px;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
