.checkboxContainer {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}

.checkboxContainer:hover {
  background-color: rgba(76, 84, 97, 0.04);
}

.container {
  position: relative;
  display: inline-flex;
  margin: 1px;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid black;
  background-clip: padding-box;
}

.checkedContainer {
  border-color: var(--color-primary10);
  background-color: var(--color-primary10);
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.label {
  cursor: pointer;
  gap: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
