.base {
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.primary {
  background-color: var(--color-primary10);
  color: white;

  &:hover {
    background-color: var(--color-primary8);
  }
}

.desibled {
  background-color: var(--color-primary2);
  color: white;
  cursor: not-allowed;

  &:hover {
    background-color: var(--color-primary2);
  }
}
